<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axlecho.jtsviewer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".JtsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/JtsAppTheme.NoActionBar">

        <activity
            android:name=".activity.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.base.JtsCommonSingleTabInfoListActivity"
            android:label="@string/title_common" />
        <activity
            android:name=".activity.my.JtsHistoryActivity"
            android:label="@string/title_history"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.login.JtsLoginActivity"
            android:label="@string/title_login" />
        <activity
            android:name=".activity.detail.JtsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_detail" />
        <activity
            android:name=".activity.detail.JtsCommentsActivity"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".activity.my.JtsSettingsActivity"
            android:label="@string/title_activity_jts_settings"
            android:theme="@style/JtsAppTheme.NoActionBar" />
        <activity
            android:name=".activity.my.JtsCollectionActivity"
            android:label="@string/title_activity_collection" />
        <activity
            android:name=".activity.detail.JtsDetailDialogActivity"
            android:theme="@style/DetailDialogStyle" />

        <receiver android:name=".bookmark.JtsBookMarkWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.axlecho.action.update_bookmark" />
                <action android:name="com.stone.action.clickset.item" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jts_book_mark_widget_info" />
        </receiver>

        <service
            android:name=".bookmark.JtsBookMarkWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>